*.classpath
*.project
/scala/
/bin/
*.cache-main
*.cache
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
/scala/
