*.class
/AngleSyntax$AngleOps.sjsir
/AngleSyntax$class.sjsir
/AngleSyntax.sjsir
/NormalizedSyntax$ToNormalizedOps.sjsir
/NormalizedSyntax$class.sjsir
/NormalizedSyntax.sjsir
/UnsignedByteSyntax$ToUnsignedByteOps.sjsir
/UnsignedByteSyntax$class.sjsir
/UnsignedByteSyntax.sjsir
/package$.sjsir
/package$angle$.sjsir
/package$normalized$.sjsir
/package$uByte$.sjsir
